doctype html
html(lang="en")
  head
    title= pageTitle

    link(rel='stylesheet', href='/static/bootstrap/css/bootstrap-theme.css', type='text/css' )
    link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.min.css', type='text/css' )
    link(rel='stylesheet', href='/static/css/style.css', type='text/css' )
  body
    div.heading Wedding of Xiu Fen and Daniel
    div.row
        each val in pics
            div.col-md-3(style="margin-bottom:10px")
                a(href='http://photobooth.danielwithsilver.com/web/singlepic/'+val)
                    img(src='http://photobooth.danielwithsilver.com/thumbs/'+val )
    //- ul
    //-     each val in pics
    //-         li=val
    